### NaNを0で埋める

In [1]:
import numpy as np

dataset = {
    '山田': {'カレー': 2.5,
           'ラーメン': 3.5,
           'チャーハン': 3.0,
           '寿司': 3.5,
           '牛丼': 2.5,
           'うどん': 3.0},
    '田中': {'カレー': 3.0,
           'ラーメン': 3.5,
           'チャーハン': 1.5,
           '寿司': 5.0,
           'うどん': 3.0,
           '牛丼': 3.5},
    '川村': {'カレー': 3.0,
           'ラーメン': 4.0,
           'チャーハン': 2.0,
           '寿司': 3.0,
           'うどん': 3.0,
           '牛丼': 2.0},
    '鈴木': {'カレー': 3.0,
           'ラーメン': 4.0,
           'うどん': 3.0,
           '寿司': 5.0,
           '牛丼': 3.5},
    '下林': {'ラーメン': 4.5,
           '牛丼': 1.0,
           '寿司': 4.0}}

In [2]:
# pandasからSeries, DataFrameの読み込み
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = DataFrame(dataset)

In [4]:
df = df.fillna(0)

In [5]:
df

        山田   田中   川村   鈴木   下林
うどん    3.0  3.0  3.0  3.0  0.0
カレー    2.5  3.0  3.0  3.0  0.0
チャーハン  3.0  1.5  2.0  0.0  0.0
ラーメン   3.5  3.5  4.0  4.0  4.5
寿司     3.5  5.0  3.0  5.0  4.0
牛丼     2.5  3.5  2.0  3.5  1.0

In [6]:
from scipy.stats import spearmanr

for name in df.columns:
    result_dict = {}
    # print(name)
    for name_compare in df.columns:
        # print(name_compare)
        # result_dict[name_compare] = np.corrcoef(df[name].values, df[name_compare].values)[0][1]
        result_dict[name_compare] = spearmanr(df[name].values, df[name_compare].values)[0]
    # print(result_dict)
    # print(sorted(result_dict.items(), key=lambda x: x[1], reverse = True))
    print(name)
    for i in sorted(result_dict.items(), key=lambda x: x[1], reverse = True)[1:4]:
        print(i)
    print('')

山田
('下林', 0.6350006350009525)
('川村', 0.5809475019311127)
('鈴木', 0.5457051563317492)

田中
('鈴木', 0.985184366143778)
('下林', 0.8441622892989753)
('山田', 0.4308202184276646)

川村
('山田', 0.5809475019311126)
('鈴木', 0.5009794328681196)
('下林', 0.4918693768379647)

鈴木
('田中', 0.9851843661437779)
('下林', 0.8932596002688613)
('山田', 0.5457051563317492)

下林
('鈴木', 0.8932596002688613)
('田中', 0.8441622892989752)
('山田', 0.6350006350009525)

### NaNをそのまま用いる

In [7]:
import numpy as np

dataset = {
    '山田': {'カレー': 2.5,
           'ラーメン': 3.5,
           'チャーハン': 3.0,
           '寿司': 3.5,
           '牛丼': 2.5,
           'うどん': 3.0},
    '田中': {'カレー': 3.0,
           'ラーメン': 3.5,
           'チャーハン': 1.5,
           '寿司': 5.0,
           'うどん': 3.0,
           '牛丼': 3.5},
    '川村': {'カレー': 3.0,
           'ラーメン': 4.0,
           'チャーハン': 2.0,
           '寿司': 3.0,
           'うどん': 3.0,
           '牛丼': 2.0},
    '鈴木': {'カレー': 3.0,
           'ラーメン': 4.0,
           'うどん': 3.0,
           '寿司': 5.0,
           '牛丼': 3.5},
    '下林': {'ラーメン': 4.5,
           '牛丼': 1.0,
           '寿司': 4.0}}

In [8]:
df = DataFrame(dataset)

In [12]:
df

        山田   田中   川村   鈴木   下林
うどん    3.0  3.0  3.0  3.0  NaN
カレー    2.5  3.0  3.0  3.0  NaN
チャーハン  3.0  1.5  2.0  NaN  NaN
ラーメン   3.5  3.5  4.0  4.0  4.5
寿司     3.5  5.0  3.0  5.0  4.0
牛丼     2.5  3.5  2.0  3.5  1.0

In [15]:
result_dict = {}
for name in df.columns:
    # print(name)
    for name_compare in df.columns:
        
        if name == name_compare:
            pass
        else:
            x = df[name]
            y = df[name_compare]
            bad = ~np.logical_or(np.isnan(x), np.isnan(y))
            result_dict[name_compare] = np.corrcoef(np.compress(bad, x), np.compress(bad, y))[0][1]
    print(name)
    for i in sorted(result_dict.items(), key=lambda x: x[1], reverse = True)[0:3]:
        print(i)
    print('')

山田
田中
川村
鈴木
下林