In [1]:
dataset = {
    '山田': {'カレー': 2.5,
           'ラーメン': 3.5,
           'チャーハン': 3.0,
           '寿司': 3.5,
           '牛丼': 2.5,
           'うどん': 3.0},
    '田中': {'カレー': 3.0,
           'ラーメン': 3.5,
           'チャーハン': 1.5,
           '寿司': 5.0,
           'うどん': 3.0,
           '牛丼': 3.5},
    '川村': {'カレー': 3.0,
           'ラーメン': 4.0,
           'チャーハン': 2.0,
           '寿司': 3.0,
           'うどん': 3.0,
           '牛丼': 2.0},
    '鈴木': {'カレー': 3.0,
           'ラーメン': 4.0,
           'うどん': 3.0,
           '寿司': 5.0,
           '牛丼': 3.5},
    '下林': {'ラーメン': 4.5,
           '牛丼': 1.0,
           '寿司': 4.0}
}

In [7]:
# pandasからSeries, DataFrameの読み込み
import pandas as pd
from pandas import Series, DataFrame

In [8]:
df = DataFrame(dataset)

In [12]:
df = df.fillna(0)

In [14]:
df

        山田   田中   佐藤   中村   川村   鈴木   下林
うどん    3.0  3.0  4.0  4.5  3.0  3.0  0.0
カレー    2.5  3.0  2.5  0.0  3.0  3.0  0.0
チャーハン  3.0  1.5  0.0  3.0  2.0  0.0  0.0
ラーメン   3.5  3.5  3.0  3.5  4.0  4.0  4.5
寿司     3.5  5.0  3.5  4.0  3.0  5.0  4.0
牛丼     2.5  3.5  0.0  2.5  2.0  3.5  1.0

In [48]:
result = list()
for name in df.columns:
    result_dict = {}
    # print(name)
    for name_compare in df.columns:
        # print(name_compare)
        result_dict[name_compare] = np.corrcoef(df[name].values, df[name_compare].values)[0][1]
    # print(result_dict)
    # print(sorted(result_dict.items(), key=lambda x: x[1], reverse = True))
    print(name)
    for i in sorted(result_dict.items(), key=lambda x: x[1], reverse = True)[1:4]:
        print(i)
    print('')

山田
('下林', 0.7957438376509584)
('中村', 0.7012868733182767)
('川村', 0.5940885257860047)
田中
('鈴木', 0.9587849535741975)
('下林', 0.7038607330821072)
('佐藤', 0.5310078242953823)
佐藤
('川村', 0.783868693007469)
('鈴木', 0.6041053397438865)
('田中', 0.5310078242953823)
中村
('山田', 0.7012868733182767)
('下林', 0.38939119615714984)
('佐藤', 0.32833626696616136)
川村
('佐藤', 0.7838686930074691)
('下林', 0.6408284286269933)
('山田', 0.5940885257860046)
鈴木
('田中', 0.9587849535741975)
('下林', 0.6872691128457613)
('佐藤', 0.6041053397438865)
下林
('山田', 0.7957438376509584)
('田中', 0.7038607330821071)
('鈴木', 0.6872691128457613)